.main-container {
  height: 100vh;
  background-color: #191d88;
  display: flex;
  justify-content: center;
}

.content {
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content p {
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.content img {
  height: 80%;
  width: 50%;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  background-color: rgb(18, 66, 11);
  color: white;
  height: 50px;
  width: 80px;
}
